body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/Home\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Arial, sans-serif;
}
